@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1b5bf7;
  --primary-disabled: #84a0e7;
  --secondary: #464359;
  --dark: #18191f;
  --opacity: rgba(255, 60, 0, 0.5686274509803921);
  --background: #f4f7ff;
  --font-color: #464359;
  --bg-secondary: #e0e8ff;
  --devops: #a8bfff;
  --mobile: #dbe5ff;
  --infrastructure: #d1dde8;
  --frontend: #c6d6ff;
  --design: #ced6ee;
  --pm: #99b7df;
  --testing: #e1e9fe;
  --backend: #bddaed;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Manrope, sans-serif;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Manrope, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .active-scrollLink {
    border-bottom: 2px solid var(--primary) !important;
  }
  .bg-primary {
    background-color: var(--primary);
  }
  .text-primary {
    color: var(--primary);
  }
  .bg-background {
    background-color: var(--background);
  }
}

.nav-dropdown {
  display: none;
}
.nav-item:hover .nav-dropdown {
  display: block;
}
.list-item {
  display: flex;
  align-items: center;
  gap: 25px;
  padding: 10px;
  margin-top: 10px;
  padding-left: 20px;
  transition: 200ms ease-in-out;
}
.list-item:hover {
  background-color: var(--primary);
  color: #fff !important;
}
.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-content {
  display: inline-block;
  animation: scroll 10s linear infinite;
}

.scroll-item {
  display: inline-block;
  padding: 20px;
  background-color: #f0f0f0;
  margin: 5px;
  border-radius: 5px;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
